main{
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  overflow: hidden; /* Trava a rolagem da página inteira */
  height: calc(100% - 45px);
  background-color: rgb(182, 247, 247);
  section{

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
  }

  .form-section{
    gap:8px;
    background-color: aqua;
    flex: 0.4;
    form{
      width: 80%;
    }
  }

  .input-section{
    flex: 1;
    height: 100%;
    width: 100%;
    box-shadow: 10px 10px 8px #000000;
    align-items: initial;


  }
}
